*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

[data-theme="light"] {
    --background-menu: #e0e0e0;
    --background-contenedor-memes: #eeeeee;
    --background-panel: #fafafa;
    --color: #424242;
    --color-hover:#cbcbcb;
    --color-rango:#5a5d68;
    --color-inputs: #e0e0e0;
}

[data-theme="dark"] {
    --background-menu: #191e2b;
    --background-contenedor-memes: #30343f;
    --background-panel: #252935;
    --color: #ffffff;
    --color-hover:#696e7d;
    --color-rango:#5a5d68;
    --color-inputs: #30343f;

}

.menu-principal{
    height: 7rem;
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: var(--background-menu);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.titulo{
    font-size: 2.5rem;
}

.btn-menu{
    padding: 0.5rem;
    color: var(--color);
    border: var(--background-menu) 1px;
    background-color: var(--background-menu);
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.btn-menu:hover{
    background-color: var(--color-hover);
    transition: 0.2s;
}

.btn-menu:focus{
    background-color: var(--color-hover);
    transition: 0.2s;
}

.contenedor-memes{
    height: 100vh;
    background-color:var(--background-contenedor-memes);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

}

.editor-memes{
    height: 35rem ;
    width: 38rem ;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#parrafo-inferior{
    bottom: 0;
}

.contenedor-texto{
    width: 100%;
    padding: 1rem 2rem ;
    background-color: white;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.contenedor-imagen{
    width: 100%;
    flex-grow: 2;

}

/* ******** Panel de texto********** */

.panel-texto{
    width: 15rem;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: var(--background-panel);
    color: var(--color);
    position: fixed;
    z-index: 3;
    left: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.input-panel{
    height: 2rem;
    width: 100%;
    background-color: var(--color-inputs);
    color: var(--color);
    border: 0;
    padding: 0.3rem 0.5rem;
    outline: none;
    border-radius: 0.2rem;
    display: block;
    font-size: 0.8rem;
}

.panel-texto h2{
    text-align: center;
}

.titulos-panel{
    margin-top: 1rem;
    margin-bottom: 0.3rem;  
    display: block;
    font-size: 0.9rem; 
}

.contenedor-checkbox{
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}

input[type='checkbox']{
    margin: 0 0.2rem 0 0;
    
}

.texto-checkbox{
    font-size: 0.8rem;
}

#tamano-fuente{
    width: 50%;
}

.btns-alineado{
    align-items: flex-end;
    width: calc(50% / 3 - 0.3rem);
    margin-left: 0.2rem;
}

.controles-fuente{
    height: 2rem;
    display: flex;
    width: 100%;
    margin-top: 0.3rem;
}

.contenedor-colores-texto{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.contenedor-color-texto{
    width: calc(100% /2 - 0.6rem );

}

.input-color{
    /* margin-top: 0.3rem; */
    background-color: var(--color-inputs);
    border: none;
}

input[type='color'] , input[type='color']::-webkit-color-swatch{
    width: 1.1rem;
    height: 1.1rem;
    min-width: 1.1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;
}

.contenedor-btn-contorno{
    display: flex;
    justify-content: space-between;
}

.btn-contorno{
    color: var(--color);
    border: var(--color) 1px;
    background-color:var(--color-inputs);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.btn-contorno:hover{
    background-color: var(--color-hover);
    transition: 0.2s;
}

/* ******** Panel de imagen ********** */

.panel-imagen{
    width: 15rem;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: var(--background-panel) ;
    color: var(--color);
    position: fixed;
    z-index: 3;
    left: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    display: block;
}

.panel-imagen h2{
    text-align: center;
}

.controles-fondo-imagen{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.control-fondo-imagen{
    width: calc(100% / 2 - 0.3rem );
}


input[type="range"]{
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    background-color:var(--color-rango);
    height: 0.4rem;
    transition: 0.3s;
    border-radius: 3px;
    margin-top: 0.5rem;
    display: block;
};

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 3px;
    height: 0.3rem;;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 12px;
    background: var(--color);
    -webkit-appearance: none;
    outline: none;
}

input[type=range]:focus{
    background-color: var(--color-hover);
}

#btn-reestablecer-filtros{
    margin-top: 1rem;
    color: var(--color);
    border: var(--background-menu) 1px;
    background-color: var(--background-menu);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

#btn-reestablecer-filtros:hover{
    background-color: var(--color-hover);
    transition: 0.2s;
}



